.DS_Store
target
bin
test-output
.classpath
.project
.settings
/.metadata
.cache
derby.log
/devops/.tmp
/devops/.librarian
/devops/.vagrant
/devops/Puppetfile.lock
/devops/modules
/devops/*.rpm.zip
/devops/**/*.semaphore
/devops/test-connection/.lein-repl-history
