.DS_Store
target
bin
test-output
nb-configuration.xml
.classpath
.project
.settings
*.iml
.idea
/.metadata
.cache
derby.log
/devops/.tmp
/devops/.librarian
/devops/.vagrant
/devops/Puppetfile.lock
/devops/modules
/devops/*.rpm.zip
/devops/**/*.semaphore
/devops/test-connection/.lein-repl-history

.java-version