.DS_Store
target
bin
test-output
.classpath
.project
.settings
/.metadata
.cache
derby.log
/querydsl-devops/.tmp
/querydsl-devops/.librarian
/querydsl-devops/.vagrant
/querydsl-devops/Puppetfile.lock
/querydsl-devops/modules
/querydsl-devops/*.rpm.zip
/querydsl-devops/**/*.semaphore
/querydsl-devops/test-connection/.lein-repl-history
