<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.mysema.querydsl-apt"
   name="Querydsl APT Plug-in"
   version="1.0.0"
   provider-name="Mysema.com">

   <runtime>
      <library name="querydsl-apt.jar"/>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jdt.apt.core"/>
   </requires>
   
   <extension point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
      <factories enableDefault="true">
        <factory class="com.mysema.query.apt.APTFactory">
        </factory>        
      </factories>  
   </extension>
   
</plugin>
